---

# **Unit 10 (Matplotlib & Streamlit Programs)**

---

---

## **687. Pie Chart – Microcontroller Cost Breakdown**

The cost categories applied to a **$9.00 microcontroller** are:
```
- Engineering: $1.35  
- Manufacturing: $3.60  
- Sales: $2.25  
- Profit: $1.80
```
Create a **pie chart** showing the cost breakdown as **different sized pieces**.

---

## **688. Pie Chart – Student Grades**

Here is how many students got each grade in the recent test:

* A – 4
* B – 12
* C – 10
* D – 2

Plot a **pie chart** for student grades with:

* Different colors for each grade
* A **wedge (explode)** for grade **D**
* Chart title: **"Student’s Grade History"**

---

## **689. Pie Chart – Movie Preference Survey**

Survey data of favorite movie genres:

* Comedy – 4
* Action – 5
* Romance – 6
* Drama – 1
* Sci-Fi – 4

Plot a **pie chart** with:

* Different colors for each genre
* Exploded wedge for **Action movies**
* Chart title: **"Survey Analysis of Movie"**

---

## **690. Pie Chart – Programming Language Popularity**

Create a pie chart using **Matplotlib** for programming language popularity:

* Python – 29
* Java – 19
* JavaScript – 8
* C# – 7
* PHP – 6
* C/C++ – 5
* R – 3

Requirements:

* Exploded view for **Python**
* Display **percentage (%)** of each language

---

## **691. Bar Plot – Course vs Students**

Create a bar plot of **Course vs Number of Students** using the dictionary below:

```python
Data = {'C':20, 'C++':15, 'Java':30, 'Python':35}
```

* X-axis: Course
* Y-axis: Number of students
* Bar color: **Green**

---

## **692. Bar Chart – GDP Per Capita**

Create a bar chart using the following data:

```python
Country = ['USA','Canada','Germany','UK','France']
GDP_Per_Capita = [45000,42000,52000,49000,47000]
```

Requirements:

* Chart title
* X-axis and Y-axis labels
* Different color for each country
* Grid must be visible

---

## **693. Bar Chart – Employee Salary Comparison**

Create a bar chart showing **employee ID vs salary** for two departments.

### Sales Department

* IDs: `[1001,1003,1006,1007,1009,1011]`
* Salaries: `[10000, 23000.50, 18000.33, 16500.5, 12000.75, 9999.99]`

### Purchase Department

* IDs: `[1002,1004,1010,1008,1014,1015]`
* Salaries: `[5000,6000,4500.5,12000,9000,10000]`

Requirements:

* Title: **"Microsoft Inc."**
* X-axis: Employee ID
* Y-axis: Salary
* Different colors for Sales and Purchase departments

---

## **694. Subplot – Vertical & Horizontal Bar Graphs**

Build **two bar graphs** using subplot:

```python
D1 = {"aryan":66,"bob":70,"jack":66,"seema":34}
D2 = {"joy":45,"sid":85,"hina":90}
```

Requirements:

* First graph: Vertical bar graph (Row 1)
* Second graph: Horizontal bar graph (Row 2)
* Overall title: **"BAR PLOT"**

---

## **695. Histogram – Employee Age Distribution**

Employee age data:

```python
emp_ages = [22,45,30,59,58,56,57,45,43,43,50,40,34,33,25,19]
bins = [0,10,20,30,40,50,60]
```

Requirements:

* X-axis: Employee Ages
* Y-axis: Number of Employees
* Title: **"Oracle Corp"**
* Histogram color: **Cyan**

---

## **696. Histogram – Customer Wait Time**

Wait time data (in seconds) for 20 customers:

```
43.1, 35.6, 37.6, 36.5, 45.3, 43.5, 40.3, 50.2, 47.3, 31.2,
42.2, 45.5, 30.3, 31.4, 35.6, 45.2, 54.1, 45.6, 36.5, 43.1
```

Plot a **histogram** for the above data.

---

## **697. Histogram – Height of Trees**

Heights of 30 black cherry trees (in inches):

```
61,63,64,66,68,69,71,71.5,72,72.5,73,73.5,74,74.5,
76,76.2,76.5,77,77.5,78,78.5,79,79.2,80,81,82,83,84,85,87
```

Requirements:

* Histogram color: **Green**
* Title: **"Height of Trees"**
* Title font size: **20**

---

## **698. Line Graph – Company Profit**

Data:

```python
Years = [2012,2013,2014,2015,2016,2017]
Profits = [9,10,10.5,8.8,10.9,9.75]
```

Requirements:

* X-axis: Years
* Y-axis: Profits (in Millions)
* Title: **"XYZ Company"**
* Line style: **Dashed**

---

## **699. Scatter Plot – Zoo Animal Count**

Zoo data:

* Zebra – 25
* Lions – 5
* Monkeys – 50
* Elephants – 10
* Ostriches – 20

Plot a **scatter plot** with:

* X-axis: Type of Animal
* Y-axis: Count

---

## **700. Scatter Plot – Discount vs Sales**

Discounts ranging from **10% to 50%** over **5 weeks**.
Sales values should be **user-defined (in Rupees)**.

Plot a scatter plot showing:

* X-axis: Discount offered
* Y-axis: Sales made

---

## **701. Subplots – Student Marks by Subject**

Plot subplots showing marks of **5 students** in **6 subjects**:

* Digital Electronics
* Probability & Stochastics
* Python
* Full Stack Development
* IELTS (Reading)
* Data Structure

Requirements:

* One subplot per subject
* User-defined marks
* Each subplot with title
* One main title for the figure

---

## **702. Scatter Plot – Mathematics vs Science**

Data:

```python
math_marks = [88,92,80,89,100,80,60,100,80,34]
science_marks = [35,79,79,48,100,88,32,45,20,30]
marks_range = [10,20,30,40,50,60,70,80,90,100]
```

Requirements:

* Scatter plot comparison
* Appropriate labels, title, legend

---

## **703. Multiple Plots Using Subplot**

Create multiple plots in one figure:

1. **Scatter Plot**

   * Marker: Star
   * Color: Green
   * Size: 60
   * Title: *Age vs Speed of Car*

2. **Horizontal Bar Chart**

   * Height: 0.1
   * Color: Yellow

3. **Histogram**

   * Bins: 4
   * Orientation: Vertical
   * Color: Violet

4. **Pie Chart**

   * Explode `Apple` by 0.2
   * Super title: **"My Subplot for Cars"**

---

## **704. NumPy & Graphs – Batsman Scores**

Scores of 5 batsmen in 4 matches:

```python
Scores = [
 [13,10,9,33],
 [63,46,90,42],
 [39,76,13,29],
 [82,9,29,78],
 [67,61,59,36]
]
```

Tasks include:

* Add new match
* Add new batsmen
* Add total score column
* Generate line chart, bar chart, and pie chart using NumPy slicing

---

## **705. 6 Subplots Using Matplotlib**

Create **6 subplots (3 rows × 2 columns)**:

1. Line graph (green, dotted, diamond marker)
2. Bar plot (men vs women scores)
3. Pie chart (car popularity with percentage)
4. Scatter plot (Math vs Science)
5. Horizontal bar chart (programming language popularity)
6. Histogram (red)

---

---

## **706. Company Sales Data Visualization**

Consider the following dataset to visualize **Company Sales Data**:

| Month Number | Facecream | Facewash | Toothpaste | Bathingsoap | Shampoo | Moisturizer | Total Units | Total Profit |
| ------------ | --------- | -------- | ---------- | ----------- | ------- | ----------- | ----------- | ------------ |
| 1            | 2500      | 1500     | 5200       | 9200        | 1200    | 1500        | 21100       | 211000       |
| 2            | 2630      | 1200     | 5100       | 6100        | 2100    | 1200        | 18330       | 183300       |
| 3            | 2140      | 1340     | 4550       | 9550        | 3550    | 1340        | 22470       | 224700       |
| 4            | 3400      | 1130     | 5870       | 8870        | 1870    | 1130        | 22270       | 222700       |
| 5            | 3600      | 1740     | 4560       | 7760        | 1560    | 1740        | 20960       | 209600       |
| 6            | 2760      | 1555     | 4890       | 7490        | 1890    | 1555        | 20140       | 201400       |
| 7            | 2980      | 1120     | 4780       | 8980        | 1780    | 1120        | 25550       | 255500       |
| 8            | 3700      | 1400     | 5860       | 9960        | 2860    | 1400        | 36140       | 361400       |
| 9            | 3540      | 1780     | 6100       | 8100        | 2100    | 1780        | 23400       | 234000       |
| 10           | 1990      | 1890     | 8300       | 10300       | 2300    | 1890        | 26670       | 266700       |
| 11           | 2340      | 2100     | 7300       | 13300       | 2400    | 2100        | 41280       | 412800       |
| 12           | 2900      | 1760     | 7400       | 14400       | 1800    | 1760        | 30020       | 300200       |

### **Task**

Get the **total profit of all months** and show a **line plot** with the following properties:

* Line style: **Dotted**
* Line color: **Red**
* Marker: **Circle**
* Marker color: **Blue**
* Marker size: **5**
* Line width: **3**
* Legend position: **Lower right**
* X-axis label: **Month Number**
* Y-axis label: **Total Profits**

---

## **707. NumPy Operations on T20 Batsmen Scores**

There is an array of scores of **5 batsmen** in **4 T20 matches**:

```python
Scores = [
 [31, 12, 19, 53],
 [67, 48, 95, 83],
 [59, 67, 13, 59],
 [62, 29, 99, 88],
 [87, 91, 69, 76]
]
```

| Player  | T20-1 | T20-2 | T20-3 | T20-4 |
| ------- | ----- | ----- | ----- | ----- |
| Sachin  | 31    | 12    | 19    | 53    |
| Dhoni   | 67    | 48    | 95    | 83    |
| Yuvraj  | 59    | 67    | 13    | 59    |
| Ganguly | 62    | 29    | 99    | 88    |
| Kohli   | 87    | 91    | 69    | 76    |

### **Tasks**

Using **only the NumPy module**, perform the following:

1. Find the **maximum score in T20-3** and print it
2. Find the **minimum score of Yuvraj** and print it
3. Add an **extra column** containing the **sum of all 4 T20 matches** for each batsman and print the updated array

---

---

## **708. NumPy Program – Swap Columns in an Array**

Write a **NumPy program** to **swap columns** in a given array.

The program should:

* Take the **number of rows**
* Take the **number of columns**
* Take the **values of each row and column** as input
* Take the **indices of the two columns** to be swapped

---

### **Input**

```
Enter the number of rows: 3
Enter the number of columns: 4
Enter values for row 1: 0 1 2 3
Enter values for row 2: 4 5 6 7
Enter values for row 3: 8 9 10 11
Enter the index of the first column to be swapped: 0
Enter the index of the second column to be swapped: 1
```

---

### **Original Array**

```
[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
```

---

### **After Swapping Columns**

```
[[ 1  0  2  3]
 [ 5  4  6  7]
 [ 9  8 10 11]]
```

---

## **709. Comprehensive Fitness Data Analysis and Visualization**

You are given a dataset representing the **daily workout durations** of an individual over the course of a month:

```python
workout_durations_data = [
40, 50, 45, 55, 60, 30, 40, 50, 45, 55, 60, 30,
40, 50, 45, 55, 60, 30, 40, 50, 45, 55, 60, 30,
40, 50, 45, 55
]
```

Additionally, the **calories burned** during each workout session are given as:

```python
calories_burned_data = [
200, 250, 220, 270, 300, 150, 200, 250, 220, 270, 300, 150,
200, 250, 220, 270, 300, 150, 200, 250, 220, 270, 300, 150,
200, 250, 220, 270
]
```

Your task is to perform a **comprehensive analysis and visualization** of this fitness data.

---

### **Part A: Weekly Averages**

* Calculate the **weekly average workout duration**.
* Calculate the **weekly average calories burned**.
* Use a **loop (nested loops)** to compute these averages for each week.

---

### **Part B: Data Visualization**

Create a **3 × 2 subplot layout** to visualize the following:

#### **Subplot 1: Daily Workout Durations (Line Plot)**

* X-axis: Days
* Y-axis: Duration (in minutes)
* Blue line with **circular markers**
* Marker size: **8**
* Title: **"Daily Workout Durations"**

#### **Subplot 2: Weekly Averages (Line Plot)**

* Weekly average workout duration:

  * Green line with circular markers
  * Marker size: **8**
* Weekly average calories burned:

  * Orange line with square markers
  * Marker size: **8**
* Title: **"Weekly Averages"**

#### **Subplot 3: Daily Workout Durations (Bar Chart)**

* Bar color: **Blue**
* Title: **"Daily Workout Durations (Bar Chart)"**

#### **Subplot 4: Workout Duration Distribution (Histogram)**

* Bar color: **Sky blue**
* Number of bins: **10**
* Title: **"Workout Durations Distribution (Histogram)"**

#### **Subplot 5: Calories Burned Distribution (Pie Chart)**

* Display **percentage values** with **1 decimal place**
* Start angle: **90 degrees**
* Display labels
* Title: **"Calories Burned Distribution (Pie Chart)"**

#### **Subplot 6: Rate of Change in Workout Durations (Line Plot)**

* Red line with **triangular markers**
* Marker size: **8**
* Title: **"Rate of Change in Workout Durations"**

---

### **Part C: Rate of Change Calculation**

The **rate of change** in workout durations is calculated using the formula:

[
\text{Rate of Change} = \text{Duration}*{\text{current day}} - \text{Duration}*{\text{previous day}}
]

#### **Example Explanation**

Consider the workout durations for four consecutive days:

* Day 1: 40 minutes

* Day 2: 50 minutes

* Day 3: 45 minutes

* Day 4: 55 minutes

* A **negative rate of change** (Day 2 → Day 3) indicates a **decrease** in workout duration.

* A **positive rate of change** (Day 3 → Day 4) indicates an **increase** in workout duration.

The rate of change plot helps visualize **daily trends and fluctuations** in the workout routine.

---

### **Instructions**

* Implement all calculations using **nested loops**.
* Ensure **each subplot is properly labeled**.
* Use **distinct colors, markers, and marker sizes** as specified.
* Display a **main title** for the entire figure.

---

---

## **710. Multiple Subplots Using Matplotlib**

Write a Python program to create a **single figure with multiple subplots** using the **Matplotlib** library.
The figure should have the following plots arranged in a **2×2 grid**:

### **1. Scatter Plot**

* `x = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]`
* `y = [55, 60, 58, 63, 70, 65, 75, 80, 78, 85]`
* X-Axis Label: **Engine Age (Years)**
* Y-Axis Label: **Fuel Efficiency (MPG)**
* Title: **Engine Age v/s Fuel Efficiency**
* Marker: **Diamond (D)**
* Color: **Red**
* Size: **80**

### **2. Horizontal Bar Chart**

* `x = ["Model A", "Model B", "Model C", "Model D", "Model E"]`
* `y = [25, 30, 15, 40, 20]`
* X-Axis Label: **Sales Volume**
* Y-Axis Label: **Car Model**
* Title: **Car Model v/s Sales Volume**
* Bar height: **0.3**
* Bar color: **Pink**

### **3. Histogram**

* `data = [4, 5, 5, 6, 6, 6, 7, 7, 8, 8, 8, 9, 10, 10, 10]`
* Number of bins: **6**
* Title: **Mileage Distribution**
* Color: **Green**

---

## **711. Streamlit Profile App**

Create a **Streamlit app** where the user can:

* Enter **Name** (text input)
* Select **Age** (slider: 10–100)
* Choose **Gender** (radio: Male, Female, Other)
* Select multiple **Hobbies** (multiselect)
* Upload a **profile picture** (file uploader for images)

When the user clicks **Submit**:

* Display the profile details
* Show the uploaded image

---

## **712. Streamlit Vaccination Percentage App**

Build a **Streamlit app** with the following features:

* Sidebar to select a **country** from a dropdown
  *(India, USA, UK, Canada)*
* Number input for **Total Population**
* Number input for **Vaccinated People**
* A **button** to calculate and display the **vaccination percentage**
* Display result using:

  * **Progress bar**
  * **Success / Warning message** depending on whether vaccination rate is above **70%**

---

## **713. Streamlit Marks Calculator App**

Create a **Streamlit app** where the user can input marks of **5 subjects** using `number_input` arranged in **columns**.

Add a button to calculate and display:

* **Total marks**
* **Average marks**
* **Division** (First / Second / Fail based on average)

Display all results inside an **expander** section.

---

## **714. Streamlit BMI Calculator App**

Create a **BMI Calculator App** with user inputs:

* **Weight (kg)** – number input
* **Height (cm)** – number input

On button click, calculate:

```
BMI = weight / (height/100)^2
```

Display:

* **BMI value**
* **Health category** (Underweight, Normal, Overweight, Obese)
* Colored messages using:

  * `st.success()`
  * `st.warning()`
  * `st.error()`

---

## **715. Streamlit + Matplotlib Integration App**

Create a Streamlit app that:

* Takes number input **n** (number of random points)
* Generates **n random values** for `x` and `y`
* Plots them using **Matplotlib scatter plot**
* Displays the plot using `st.pyplot()`

---

## **716. Streamlit To-Do List App**

Create a **To-Do List App** using Streamlit:

* User enters a **task** using text input
* Task is added via a **button**
* Display all added tasks as a **checkbox list**
* When a checkbox is ticked, mark the task as completed using
  `st.success()` message

---