## SYLLABUS FOR T-2 EXAM

- Unit 4 (Immutable data structures - string and tuple)(10 Marks)
- Unit 5 (Mutable data structures - List, Dictionary and set/frozenset)(15 Marks)

# STRING DATA STRUCTURE

In [1]:
s = 'LJU'
print(s)
print(id(s))
s = s+"2025"
print(s)
print(id(s))

LJU
1830330964848
LJU2025
1830330995824

## Typecasting

In [2]:
a = 10
print(a, id(a), type(a))
a = str(a)
print(a, id(a), type(a))

10 140733919275072 <class 'int'>
10 1830330998384 <class 'str'>

## INDEXING

In [4]:
s = 'hello world'
print(s[0])
print(s[-1])
print(s[2])
print(s[-3])
print(s[10])

h
d
l
r
d

## IMMUTABILITY

In [ ]:
s = "hello"
s[0] = 'z' # Throws an error

## SLICING

In [10]:
s = "hello world"
# print("1 - ", s[0:6:2])
# print("2 - ", s[2:4:2])
# print("3 - ", s[2::-1])
# print("4 - ", s[:-1:3])
# print("5 - ", s[::2])
# print("6 - ", s[0:7:3])
# print("7 - ", s[2:-1:2])
# print("8 - ", s[:-2:2])
# print("9 - ", s[1:-1:3])
print("10 - ", s[-5:-1:-2])
# print("11 - ", s[-5::])

10 -

In [12]:
s = "hello"

In [13]:
print(s)

hello

In [16]:
s=s[::-1]

In [17]:
print(s)

olleh

## Comparison

In [18]:
print("gandhi" == "Gandhi")

False

In [19]:
print("gandhi" < "Gandhi")

False

In [20]:
print(ord('g'), ord("G"))

103 71

In [21]:
print("gAndhi" < "gandhi")

True

## Logical Operator

In [22]:
print("hello" or "world")
print("hello" and "world")

hello
world

In [23]:
print(not "")

True

## Looping through string

In [25]:
s = 'hello'
for i in s:
    print(i,end = " ")

h e l l o

In [26]:
s = "hi"
for i in s:
    print("hello")

hello
hello

## Enumerate

In [29]:
enumerate??

In [32]:
s = 'hello'
for i, j in enumerate(s):
    print(i, "--", j)

0 -- h
1 -- e
2 -- l
3 -- l
4 -- o

## MEMBERSHIP OPERATOR

In [34]:
print('z' in 'python')
print('m' not in "python")

False
True

In [36]:
print('pt' in 'python')

False

## Keywords

In [ ]:
import keyword

In [ ]:
keyword.kwlist

## Universal Methods
- `len, max, min, sorted`

In [42]:
s = 'hello world'
print(len(s))
print(min(s))
print(max(s))
print(sorted(s,reverse=True))

11

w
['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

## Write a program to characters and spaces in a given string 
```
Input = "This is a python tutorial"
Output = Spaces : 4; Characters = 21
```

## STRING ATTRIBUTES AND METHODS

In [48]:
s = 'THis is a python programming tutorial'

In [ ]:
dir(s)

## Capitalize

In [49]:
s.capitalize()

'This is a python programming tutorial'

In [50]:
print(s)

THis is a python programming tutorial

## Upper

In [51]:
s.upper()

'THIS IS A PYTHON PROGRAMMING TUTORIAL'

## Lower

In [52]:
s.lower()

'this is a python programming tutorial'

## Title

In [54]:
s.title()

'This Is A Python Programming Tutorial'

## Swapcase

In [55]:
s.swapcase()

'thIS IS A PYTHON PROGRAMMING TUTORIAL'

## Count

In [61]:
s.count('i', 15, 100)

2

In [62]:
s.count('i', 15)

2

## Find

In [66]:
print(s)
s.find('is')

THis is a python programming tutorial

2

In [67]:
s.find('iz')

-1

In [70]:
print(s)
s.find('is',3)

THis is a python programming tutorial

5

## index

In [71]:
s.index??

In [74]:
print(s)
print(s.index('is'))
# print(s.index('iz')) # Throws ValueError
print(s.index('is',3))

THis is a python programming tutorial
2
5

## startswith

In [75]:
print(s.startswith("Th"))
print(s.startswith("TH"))

False
True

## endswith

In [76]:
print(s.endswith("al "))
print(s.endswith("al"))

False
True

## isalnum()

In [79]:
"12345*".isalnum()

False

## isalpha()

In [80]:
print("this".isalpha())
print("this8".isalpha())

True
False

## isupper() and islower()

In [81]:
print("This".isupper())
print("THIS".isupper())
print("this".islower())
print("THIS".islower())

False
True
True
False

## isnumeric()

In [83]:
"123abc".isnumeric()

False

In [84]:
"123".isnumeric()

True

In [85]:
"3.14".isnumeric()

False

In [86]:
"%".isnumeric()

False

## isdigit()

In [87]:
"123.45".isdigit()

False

In [88]:
"123".isdigit()

True

## islower(), isupper(), istitle() and isspace()

In [89]:
print("this".islower())
print("THIS".isupper())
print("This Is".istitle())
print(" ".isspace())

True
True
True
True

In [90]:
print(s)

THis is a python programming tutorial

## SPLIT METHOD

In [92]:
s.split()

['THis', 'is', 'a', 'python', 'programming', 'tutorial']

In [96]:
s.split(maxsplit=1)

['THis', 'is a python programming tutorial']

In [98]:
s1 = "This.is.python"
s1.split(".",1)

['This', 'is.python']

## JOIN

In [99]:
"".join(["this", 'is', 'python'])

'thisispython'

In [100]:
" ".join(["this", 'is', 'python'])

'this is python'

In [101]:
"$".join(["this", 'is', 'python'])

'this$is$python'

In [102]:
"ðŸ‘¨".join("python")

'pðŸ‘¨yðŸ‘¨tðŸ‘¨hðŸ‘¨oðŸ‘¨n'

## Replace

In [103]:
print(s)

THis is a python programming tutorial

In [104]:
s.replace('is','iz')

'THiz iz a python programming tutorial'

In [105]:
s.replace('is','iz',1)

'THiz is a python programming tutorial'

## STRIP METHOD

In [106]:
"   hello    ".strip()

'hello'

In [107]:
"   hello".strip()

'hello'

In [108]:
"hello     ".strip()

'hello'

In [2]:
"This is python".strip("hTno")

'is is pyt'

## maketrans and translate() method

In [3]:
intab = "aeiou"
outtab = "12345"
mystring = "This is a string function"
table = mystring.maketrans(intab,outtab)
print(table)
newstring = mystring.translate(table)
print(newstring)

{97: 49, 101: 50, 105: 51, 111: 52, 117: 53}
Th3s 3s 1 str3ng f5nct34n

## Remove punctuations

In [4]:
import string

In [5]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [10]:
mystring = "T&h%i?s i!s [a] st^rin?g f{unctio}n"
table = mystring.maketrans('','',string.punctuation)
print(table)
newstring = mystring.translate(table)
print(newstring)

{33: None, 34: None, 35: None, 36: None, 37: None, 38: None, 39: None, 40: None, 41: None, 42: None, 43: None, 44: None, 45: None, 46: None, 47: None, 58: None, 59: None, 60: None, 61: None, 62: None, 63: None, 64: None, 91: None, 92: None, 93: None, 94: None, 95: None, 96: None, 123: None, 124: None, 125: None, 126: None}
This is a string function

## del method

In [11]:
s = 'hello'
del s
print(s)

NameError: name 's' is not defined

## WAP to implement the find method using `findchar` function in string

## Write a program to shift a number based on following conditions -  

```
input - 12345
shift - 1 -> output = 23451
shift - 2 -> output = 34512
shift - 3 -> output = 45123
shift - 4 -> output = 51234
shift - 5 -> output = 12345
shift >=6 -> output = 54321
```

In [16]:
def shifting(number,shift):
    strnumber = str(number)
    digits = len(strnumber)
    
    if shift > digits:
        result = strnumber[::-1]
    else:
        result = strnumber[shift:] + strnumber[:shift]
    
    return int(result)

In [17]:
shifting(12345,6)

54321

## WAP to convert the first and last character of a word in a given string to upper case

```
input - this is python
output - ThiS IS PythoN
```

In [22]:
mystring = "this is python"
s = mystring.title()
print(s)
m = s.split()

This Is Python

In [23]:
print(m)

['This', 'Is', 'Python']

In [29]:
result = ""
for i in m:
    result+=  i[:-1] + i[-1].upper() + " "

In [30]:
print(result)

ThiS IS PythoN


#### Q 312
```
Write a python program to check the validity of a Password.
Primary conditions for password validation:
1. Minimum 8 characters.
2. The alphabet must be between [a-z]
3. At least one alphabet should be of Upper Case [A-Z]
4. At least 1 number or digit between [0-9]
5. At least 1 character from [ _ or @ or $]
Examples:
Input: Ram@_f1234
Output: Valid Password
Input: Rama_fo$ab
Output: Invalid Password
Explanation: Number is missing
Input: Rama#fo9c
Output: Invalid Password
Explanation: Must consist from _ or @ or $
```

In [32]:
def passwordcheck(password):
    l,u,p,d = 0,0,0,0
    if len(password) >= 8:
        for i in password:
            if i.islower():
                l+=1
            if i.isupper():
                u+=1
            if i.isdigit():
                d+=1
            if i in "@_$":
                p+=1
        if l>=1 and u>=1 and p>=1 and d>=1 and l+u+p+d == len(password):
            print("valid")
        else: 
            print("invalid")
    else:
        print("invalid")

In [33]:
password = input("Enter password ")
passwordcheck(password)

Enter password Ram@f1234
valid

In [34]:
s = "1+2+1+1+1+3+3+4+5+2"
t = s.split("+")
print(t)

['1', '2', '1', '1', '1', '3', '3', '4', '5', '2']

In [35]:
a = sorted(t)
print(a)

['1', '1', '1', '1', '2', '2', '3', '3', '4', '5']

In [37]:
"+".join(a)

'1+1+1+1+2+2+3+3+4+5'

## Balanced string program


```
input s1 = lk
      s2 = ljku
output - balanced strings
```

# TUPLE
- Immutable
- Ordered (index and slicing)
- Heterogeneous elements

## Creating tuple

In [1]:
t = (1,"hi",[1,2,3], None)

In [2]:
t = ()
type(t)

tuple

In [4]:
t = ('hi',)
type(t)

tuple

In [5]:
t= (5)
type(t)

int

## zipping

In [7]:
t1 = (1,2,3)
t2 = (4,5,6,7)
t = zip(t1,t2)
print(t)
t = tuple(zip(t1,t2))
print(t)

<zip object at 0x000001DB21601BC0>
((1, 4), (2, 5), (3, 6))

## Tuple packing and unpacking

In [8]:
a = 1,2,3,4
print(a)
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

In [9]:
m,n,o,p = a
print(m,n,o,p)

1 2 3 4

## Taking input from the user

In [10]:
tuple1 = eval(input("Enter numbers separated by commas - "))
print(tuple1)
print(type(tuple1))

Enter numbers separated by commas - 3,4,5,6
(3, 4, 5, 6)
<class 'tuple'>

## Type conversion

In [11]:
s = 'hello'
t = tuple(s)
print(t)

('h', 'e', 'l', 'l', 'o')

In [12]:
l = [2,3,4]
t = tuple(l)
print(t)

(2, 3, 4)

# ` + and *`

In [13]:
t1 = (1,2,3)
t2 = (4,5,6)

In [14]:
t1 + t2

(1, 2, 3, 4, 5, 6)

In [15]:
t1*t2

TypeError: can't multiply sequence by non-int of type 'tuple'

In [16]:
t1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

## Membership operators

In [17]:
8 in (7,8,9)

True

In [18]:
9 not in (5,6,7)

True

## ITERATING THROUGH TUPLE

In [19]:
t = (4,5,6)
for i in t:
    print(t)

(4, 5, 6)
(4, 5, 6)
(4, 5, 6)

In [20]:
t = (4,5,6)
for i in t:
    print(i)

4
5
6

In [21]:
for i,j in enumerate(t):
    print(i,j)

0 4
1 5
2 6

## Comparing tuples

In [22]:
(1,2,3) == (2,3,1)

False

In [27]:
(1,2,3) < (1,3,2)

True

In [24]:
(1,2,3) < (1,1,4)

False

In [25]:
(1,2,"a") < (1,2,"A")

False

In [26]:
(1,2,"a") < ('a',2,"A")

TypeError: '<' not supported between instances of 'int' and 'str'

## UNIVERSAL METHODS
` len, min, max, sum,sorted`

In [29]:
t = (8,5,9,1,6,2,3,4)
print(len(t))
print(min(t))
print(max(t))
print(sum(t))
print(sorted(t))
print(sorted(t, reverse=True))

8
1
9
38
[1, 2, 3, 4, 5, 6, 8, 9]
[9, 8, 6, 5, 4, 3, 2, 1]

In [31]:
t = ("python","cat","there", "java")
sorted(t)

['cat', 'java', 'python', 'there']

In [32]:
t = ("python","cat","there", "java")
sorted(t, key = len)

['cat', 'java', 'there', 'python']

In [33]:
t = ("python","cat","there", "java")
sorted(t, key = len,reverse=True)

['python', 'there', 'java', 'cat']

## Tuple methods

In [34]:
t = (6,5,5,5,3,4,7,8,5)

## count

In [36]:
t.count(5)

4

In [ ]:
t.count(5,2) # count() takes exactly one argument (2 given)

## index

In [38]:
t.index(5)

1

In [39]:
print(t)

(6, 5, 5, 5, 3, 4, 7, 8, 5)

In [40]:
t.index(5,4)

8

In [41]:
t.index?? # Documentation on index

## Generator

In [42]:
x = (i**2 for i in (3,4,5,6))
print(x)

<generator object <genexpr> at 0x000001DB22BDB740>

In [43]:
next(x)

9

In [44]:
next(x)

16

In [45]:
next(x)

25

In [46]:
next(x)

36

In [47]:
next(x)

StopIteration:

In [48]:
t= tuple(x)
print(t)

()

In [52]:
x = (i**2 for i in (3,4,5,6))
print(x)

<generator object <genexpr> at 0x000001DB228F1970>

In [50]:
t= tuple(x)
print(t)

(9, 16, 25, 36)

In [57]:
next(x)

StopIteration:

## Comprehension

In [58]:
x = [i**2 for i in (3,4,5,6)]
print(x)

[9, 16, 25, 36]

In [60]:
x = [i**2 for i in (3,4,5,6) if i**2 > 20]
print(x)

[25, 36]

## WAP to return the maximum even number from a given tuple

```
input - (8,7,2,3,4,5,100,3,56,101)
output - 100

```

In [61]:
t = max(i for i in (8,7,2,3,4,5,100,3,56,101) if i%2 == 0)
print(t)

100

In [62]:
t = tuple(i for i in (8,7,2,3,4,5,100,3,56,101) if i%2 == 0)
print(t)

(8, 2, 4, 100, 56)

In [63]:
t = tuple(sorted(tuple(i for i in (8,7,2,3,4,5,100,3,56,101) if i%2 == 0)))
print(t)

(2, 4, 8, 56, 100)

## PB 314 Ceaser cipher
```
Write a Python program to create a Caesar encryption.
 Note: In cryptography, a Caesar cipher, also known as Caesar's cipher, the shift cipher, Caesar's code or Caesar 
shift, is one of the simplest and most widely known encryption techniques. It is a type of substitution cipher in 
which each letter in the plaintext is replaced by a letter some fixed number of positions down the alphabet. For 
example, with a right shift of 3, A would be replaced by D, E would become H, and so on. The method is named 
after Julius Caesar, who used it in his private correspondence.
 For Example:
 Input Text  : LJIET ENG
 Shift : 3
 Cipher:  OMLHW HQJ
 ```

In [64]:
def encrypt(message,key):
    message = message.upper()
    alpha = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    result = ''
    
    for letter in message:
        if letter in alpha:
            letterindex = (alpha.find(letter) + key) % 26
            result = result + alpha[letterindex]
        else:
            result+=letter
    return result

In [65]:
encrypt("ljiet eng",3)

'OMLHW HQJ'

## WAP to replace special symbols in a given string to `#
```
input l^j$i[e?t
output l#j#i#e#t
```

In [66]:
import string
s = input("Enter string - ")
for i in string.punctuation:
    s = s.replace(i,"#")
print(s)

Enter string - l^j$i[e?t
l#j#i#e#t

In [67]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

## WAP to find sum of negative numbers in a given tuple

```
input - (-1,-4,-3,-2,1,2,3,4,5,6)
output = -10

```

In [68]:
sum(i for i in eval(input("Enter comma separated numbers")) if i < 0 )

Enter comma separated numbers-2,-4,1,2,4

-6