---

# **Unit 9 Advanced OOP Concepts and Introduction to NumPy Programs**

---

## **632. Book–Course Inheritance (6 Marks)**

Implement the following hierarchy:

* The **Book** class has the following data members:
  `name`, `n` (number of authors), `authors` (list of authors), `publisher`, `ISBN`, and `year`.
* The **derived class** has `course` as its data member.
* The derived class method should **override (extend)** the methods of the base class.

---

## **633. Staff–Teaching–NonTeaching Hierarchy (6 Marks)**

Implement the following hierarchy:

* **Staff** class has `name` and `salary` as its data members.
* **Teaching** class (derived) has `subject` as its data member.
* **NonTeaching** class (derived) has `department` as its data member.
* Derived class methods should **override (extend)** the base class methods.

---

## **634. Student and PhDGuide Classes (6 Marks)**

Create a class called **Student**, having:

* Data members: `name`, `email`
* Methods: `__init__(self, name, email)` and `putdata(self)`

Create another class called **PhDGuide**, having:

* Data members: `name`, `email`, `students` (list of students)

The **PhDGuide** class should have methods:

* `__init__()` – initialize variables
* `putdata()` – display guide details and list of students
* `add(student)` – add a student to the list
* `remove(student)` – remove a student if present

---

## **635. Multiple Inheritance and `__init__()` (4 Marks)**

Write a program to demonstrate the issue of invoking `__init__()` in case of **multiple inheritance**.

---

## **636. Point and Location Classes (6 Marks)**

Write a program that has:

* A class **Point**
* A class **Location** which has two objects (`Location` and `Destination`) of class `Point`

Also define a function in **Location** class that prints the **reflection of Destination on the X-axis**.

---

## **637. Operator Overloading – `+` (4 Marks)**

Write a program that overloads the `+` operator so that it can add two objects of class **Fraction**.

---

## **638. Operator Overloading – `*` (4 Marks)**

Write a program that overloads the `*` operator so that it can multiply two objects of class **Fraction**.

---

## **639. Distance Between Two Points (4 Marks)**

Write a program to find the **distance between two points** in Cartesian coordinate system.

---

## **640. Slope Between Two Points (4 Marks)**

Write a program to find the **slope between two points** in Cartesian coordinate system.

---

## **641. Student Class – `==` Operator (6 Marks)**

Create a class **Student** with the following data members:

* `roll_no`, `name`, `age`, `total_marks`

Create suitable methods to read and print data.
Overload the `==` operator to print details of students having **same marks**.

---

## **642. Data Class – `<` and `>` Operators (5 Marks)**

Write a program to create a class **Data** having `value` as its data member.
Overload `<` and `>` operators.
Instantiate objects and compare them using `_lt_` and `_gt_`.

---

## **643. Constructor Returning Boolean (4 Marks)**

Create a class called **Data** such that:

* If no argument is passed while creating the object, return `False`
* Otherwise, return `True`

---

## **644. NumPy 5×2 Array (3 Marks)**

Create a **5×2 integer NumPy array** using values from range `100` to `200` such that the difference between each element is `10`.

---

## **645. NumPy Column Extraction (2 Marks)**

Given:

```python
sampleArray = numpy.array([[11,22,33],[44,55,66],[77,88,99]])
```

Return an array consisting of items from the **third column**.

---

## **646. NumPy Odd Rows & Even Columns (3 Marks)**

Given:

```python
sampleArray = numpy.array([
 [3,6,9,12],
 [15,18,21,24],
 [27,30,33,36],
 [39,42,45,48],
 [51,54,57,60]
])
```

Return array of **odd rows and even columns**.

---

## **647. NumPy Sorting (2 Marks)**

Given:

```python
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]])
```

* Case 1: Sort array by **second row**
* Case 2: Sort array by **second column**

---

## **648. NumPy Axis Operations (3 Marks)**

From the following array:

```python
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]])
```

* Print **maximum from axis 0**
* Print **minimum from axis 1**

---

## **649. Fahrenheit to Celsius – NumPy (3 Marks)**

Convert the following Fahrenheit values into Celsius:

```python
[0, 12, 45.21, 34, 99.91, 32]
```

Formula:

```
C = (5*F/9) - (5*32/9)
```

Then:

* Sort the array
* Find the index of `0.0`

---

## **650. NumPy Reshaping (2 Marks)**

Given:

```python
arr = np.array([1,2,3,4,5,6,7,8,9,10,11,12])
```

Reshape into:

* 2D array
* 3D array

---

## **651. Call Center Simulation (9 Marks)**

Implement a call center using:

* Abstract class **Employee**
* Classes: `Respondent`, `Manager`, `Director`
* Classes: `Call`, `CallHandler`

Calls should be assigned based on **rank and availability**.

---

## **652. Vehicle–Bus Inheritance (4 Marks)**

Write a program to create a **Bus** child class inheriting from **Vehicle**.

* Default fare = `seating_capacity × 100`
* Bus has **extra 10% maintenance charge**

---

## **653. Abstract Shape Class (9 Marks)**

* Create abstract class **Shape**
* Create classes **Rectangle** and **Circle**
* Implement `calculate_area()`
* Overload `>` operator to compare rectangle areas
* Print **MRO of Circle**

---

## **654. `super()` Method Demonstration (4 Marks)**

Write a Python program to demonstrate the use of `super()` to call base class methods.

---

## **655. Matrix Class Constructor (9 Marks)**

Create a class **Matrix** containing a constructor that initializes number of rows and columns.

---

## **656. Find MRO (2 Marks)**

Find the **Method Resolution Order (MRO)** of class `Z`:

```python
class A: pass
class B: pass
class C: pass
class D: pass
class E: pass
class K1(C,A,B): pass
class K3(A,D): pass
class K2(B,D,E): pass
class Z(K1,K3,K2): pass
```

---

## **657. Net Salary Using Inheritance (9 Marks)**

Create classes:

* **Employee** (abstract)
* **Perks**
* **NetSalary**

Rules:

* DA = 35%
* HRA = 17%
* PF = 12%

Print employee details, perks, and final salary.